<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ytdlp_barebones.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ytdlp_barebones.Settings>
            <setting name="MainFormSize" serializeAs="String">
                <value>900, 600</value>
            </setting>
            <setting name="MainFormState" serializeAs="String">
                <value>"Normal"</value>
            </setting>
            <setting name="AutoCheckUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="URLRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocationRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputAutoComplete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="URLAutoComplete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileAutoComplete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearURLsDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnlyOneInstance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveLoadFormLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveLoadFormSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownSecAutoComplete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ForceKeyframesAtCuts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value />
            </setting>
            <setting name="MonoAudioMode" serializeAs="String">
                <value>False</value>
            </setting>
        </ytdlp_barebones.Settings>
    </userSettings>
</configuration>